<!doctype html>
<html lang="en-US">
  <head>

    <title>File Based Content Management System</title>
    <meta charset="UTF-8">

  </head>

  <% if error? %>
    <p><%= retrieve_error %></p>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>