<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    
    <title>File Based Content Management System</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>

  <body class="container">

    <% if error? %>
      <p class="message"><%= retrieve_error %></p>
    <% end %>

    <% if success? %>
      <p class="message"><%= retrieve_success %></p>
    <% end %>

    <%= yield %>

  </body>
</html>