<form action="/users/signin" method="post">
  <label>Username: </label>
  <input type="text" name="username" value="<%= @default_username %>">
  <br>

  <label>Password:</label>
  <input type="text" name="password" value="<%= @default_password %>">
  <br>

  <button type="submit">Sign In</button>
</form>